# Default:
registry=https://registry.npmjs.org/
//registry.npmjs.org/:always-auth=false

# Patryk-B:
@patryk-b:registry=https://npm.pkg.github.com/patryk-b/
//npm.pkg.github.com/patryk-b/:always-auth=true
